*{ // reset całej strony i ustawiamy borderboxa marginesy padding i czcionke
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	

}
.container{ // kontener jego szerokość i margines
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color:#2E2C3D;
}
.row::before, .row::after { //magic trick to save// 
	content: "";
	display: table;
	clear: both;

}
[class *='col-'] { 
	float:left;
	min-height: 1px;
}



$colCount: 12;

//małe urządzenia
@media (max-width: 767px) {
	@for $i from 1 through $colCount{
		.col-xs-#{$i} {
			width: $i/$colCount * 100%;
		}
	}
}
//średnie urzadzenie od 768px;
@media (min-width: 768px) {  
	
	@for $i from 1 through $colCount{
		.col-sm-#{$i} {
			width: $i/$colCount * 100%;
		}
	}
}
/*Średnie urządzenia od 992 px */
@media (min-width: 992px) { 
	@for $i from 1 through $colCount{
	
		.col-md-#{$i} {
			width: $i/$colCount * 100%; 
		}
	}
}

/* Duze urządzenia (1200px i więcej) */
@media (min-width: 1200px) {
	@for $i from 1 through $colCount{
	
		.col-lg-#{$i} {
			width: $i/$colCount * 100%;
		}
	}
} 




